* {
}

.table-content {
  width: 100%;
}

.table-header {
  text-align: left;
  border: 0px 8px 8px 0px;
}

.cell-header {
  padding: 10px;
  border-bottom: 1px solid black;
  color: white;
  background: rgb(99 102 241);
}

@media (max-width: 500px) {
  .cell-header {
    padding: 5px;
  }
}

.cell-header:nth-child(1) {
  border-radius: 8px 0px 0px 0px;
}
.cell-header:nth-last-child(1) {
  border-radius: 0px 8px 0px 0px;
}

.cell-body {
  padding: 10px;
  font-weight: normal;
  font-size: 0.8rem;
}

.row-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.row-body:nth-child(2n + 1) {
  background: rgb(0, 0, 0, 0.2);
}

.row-body:hover {
  background: rgba(99, 102, 241, 0.8);
}
