.navlink {
  background: white;
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}
.active {
  background: #2b303a;
  color: white;
  transform: scale(1.04);
  transition: 2s;
}
